*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main-heading{
    padding: 30px;
    text-align: center;
}

.main-heading, .article-heading{
    font-family: 'Snell Roundhand', cursive;
}

.front-page{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.front-page article{
    border: 1px solid black; 
    flex: 25%;
    height: auto;
}

.front-page .article-heading{
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

.front-page .article-text{
    padding: 10px;
}

.front-page .breaking-news-article{
    flex: 50%;
    text-align: center;
}

.front-page .breaking-news-article .breaking-news-image{
    padding: 20px;
}

.front-page .breaking-news-article .article-text{
    text-align: left;
    padding: 20px;
}

.front-page .columns{
    flex: 75%;
    display: flex;
    flex-direction: column;
    height: 300px;
}

.front-page .column{
    text-align: left;
    padding: 20px 20px 20px 20px;
    font-weight: 900;
    font-family: sans-serif;
    height: 60px;
    color: #737373;
}

.front-page .columns .column-1{
    background-color: lightpink;
}

.front-page .columns .column-2{
    background-color: #75FF33;
}

.front-page .columns .column-3{
    background-color: #FFBD33;
}

.front-page .columns .column-4{
    background-color: #DBFF33;
}

.front-page .columns .column-5{
    background-color: #33FFBD;
}

